rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TODO: Replace with proper rules in Plan 05
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
