rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // TODO: Replace with proper rules in Plan 05
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
